<div class="container">
    <form [formGroup]="resetPassword" (ngSubmit)="reset(resetPassword)">
      <div class="row">
        <h2 style="text-align:center">Reset password</h2>  
        <div class="col">
            <input type="username" name="paswd" placeholder="User name" formControlName="username" required>
            <input type="password" name="paswd" placeholder="Password" formControlName="password" required>
            <input type="password" name="confpaswd" placeholder="Confirm Password" formControlName="confpaswd" required>
            <input type="submit" value="Reset Password">
        </div>
      </div>
      <div *ngIf="resetSuccessfull" style="color: green;font-size: 12px;display: flex;justify-content: center;"><p>password resetted successfully</p></div>
      <div class="row">
        <div class="col">
          <a (click)="login()" style="color:rgb(255, 255, 255); background-color: blue;" class="btn">Log in</a>
        </div>
      </div>
    </form>
  </div>