<div class="container">
    <form [formGroup]="logInForm" (ngSubmit)="register(logInForm)">
      <div class="row">
        <h2 style="text-align:center;font-weight: bold;">Login</h2>  
        <div class="col">  
          <input type="text" name="username" placeholder="Username" formControlName="username" required>
          <input type="password" name="password" placeholder="Password" formControlName="password" required>
          <input type="submit" value="Login">
        </div>
  
      </div>
      <div class="row">
        <div class="col" style="justify-content: center;">
          <a (click)="signUp()" style="color:rgb(255, 255, 255); background-color: blue;" class="btn">Sign up</a>
          <p style="color: red;justify-content: right;align-content: end;display: flex;font-size: 12px;">If a new user?</p>
        </div>
        <div class="col">
          <a (click)="resetPassword()" style="color:rgb(255, 255, 255); background-color: blue;" class="btn">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>