.ng-tooltip { 
    position: absolute; 
    max-width: 160px; 
    font-size: 12px; 
    color: #f8f8f2; 
    padding: 3px 8px; 
    background: #123940; 
    border-radius: 4px; 
    z-index: 1000; 
    opacity: 0; 
    white-space: nowrap; 
} 
.ng-tooltip:after { 
    content: ""; 
    position: absolute; 
    border-style: solid; 
} 

.ng-tooltip-right:after { 
    top: 50%; 
    right: 100%; 
    margin-top: -5px; 
    border-width: 5px; 
    border-color: transparent #123940 transparent transparent; 
} 
.ng-tooltip-show { 
    opacity: 1; 
} 

.ng-tooltip-left-align { 
    text-align: left; 
}

.container1{
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 30px;
    font-weight: bolder;
    font-size: 30px;
}